*{
    box-sizing: border-box;
}

body{
    background-image: url("image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    text-align: center;
    font-size: 60px;
    font-family: Acme,"Roboto";
    font-style: italic;
    color: white;
    margin-top: -20px;
}
header p{
    font-size: 20px;
    margin-top: -70px;
    margin-bottom: 70px;
}
.container{
    width: 60%;
    border-radius: 5px;
    margin: -40px auto 40px auto ;
    padding-top: 10px;
    padding-left: 50px;
    padding-right:70px;
    padding-bottom:150px;
    background: rgba(0, 0, 0, .5);
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.col-25{
    float: left;
    width: 25%;
    margin-top: 15px;

}

.col-75{
    float: left;
    width: 75%;
    margin-top:15px ;
}

label{
    color: white;
    padding: 12px 12px 12px 0;
    font-size: 20px;
    display: inline-block;
}

input[type=text],[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: #e5e5e5;
}

p{
    color: white;
    font-size:20px;
}

select{
    font-size: 16px;
}
textarea{
    height: 200px;
}

input[type=submit]{
    width: 100%;
    padding: 15px;
    color: black;
    font-size: 20px;
    background-color: #e5e5e5;
}

@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }